body {
  background: #13151a;
  margin: 0;
  color: #cad6d6;
}

h1 {
  font-family: 'Rubik Wet Paint', cursive;
  font-style: normal;
  text-align: center;
  margin-bottom: 1rem;
  color: #2db87e;
  letter-spacing: 2px;
}

label {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  display: inline-block;
  color: #dfe6e7;
}

input[type="color"] {
  margin-left: 0.5rem;
  border: none;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  cursor: pointer;
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 4px #0008;
}

.pixel:hover, .pixel:focus {
  border: 2px solid #ebe2e2;
  box-shadow: 0 0 8px 2px #f3f3f355;
  outline: none;
}